/pa1/*
!pa1/cool.flex
!pa1/grading/
pa1/grading/*
!pa1/grading/RESULTS
!pa1/grading/SCORE

/pa2/*
!pa2/cool.y
!pa2/grading/
pa2/grading/*
!pa2/grading/RESULTS
!pa2/grading/SCORE

/pa3/*
!pa3/semant.cc
!pa3/semant.h
!pa3/cool-tree.h
!pa3/cool-tree.handcode.h
!pa3/grading/
pa3/grading/*
!pa3/grading/RESULTS
!pa3/grading/SCORE

/.vscode/*